button {
  outline: 0;
  border: 1px solid #0a95e1;
  color: #fff;
  background-color: #0a95e1;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 15px;
  border-style: none;

  &:focus {
    outline: none;
  }
}

table {
  td {
    padding: 10px;
  }
}