.scrollable {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 7px;
    border: 1px solid #ffffff;
  }
  &::-webkit-scrollbar-corner {
    background-color: #ffffff;
  }
  scrollbar-color: #e5e5e5 #ffffff;
  scrollbar-width: thin;
}
