@import '../../../styles/2-tools/mixins';

.paging {
  @include flex($alignWidth:flex-start);
  font-size: 16px;
  color: #67696c;
  width: 100%;;
  height: 20px;

  &__group-control, &__control {
    @include flex();
  }

  &__pages {
    @include flex();
    margin-left: auto;
  }

  &__total-records {
    margin-right: 20px;
  }

  &__control {
    cursor: pointer;
    width: 28px;
    text-align: center;

    i {
      height: 16px;
      color: #0A95E1;
      cursor: pointer;
    }
  }

  &__page {
    @include flex;
    cursor: pointer;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    &--active {
      background-color: #3f51b5;
      color: #FFFFFF;
    }
  }

  &__row-options {
    width: 90px;
    font-size: 14px;
  }
}
